<div class="container">
        <div class="branding-phone">
            <h1  class="branding-phone-title">Choose a better way to </br>represent your app</h1>
            <p class="branding-phone-dialog">Vestibulum ac diam sit amet quam vehicula elementum</p>
            <div class="branding-phone-button">
                <button>Dowland Free </button>
                <button>Contact Us </button>
            </div>
        </div>
        <div class="branding-phone-img">
            <img src="assets/img/branding-phone.png" alt="">
        </div>
    </div>