<div class="code">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="code-img">
                   <img src="assets/img/code.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="code-branding">
                    <h1>Everything You Need</h1>                    
                  <div class="code-branding-android"><img src="assets/img/tick.png" alt=""> Android</div>
                  <div class="code-branding-ios"><img src="assets/img/tick.png" alt=""> İphone</div>
               <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincid-</br>unt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</br> Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui </br>posuere blandit. Vestibulum ac diam sit amet quam.</p>
                </div>
            </div>
        </div>
    </div>
</div>