<div class="footer-menu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2">
                <div class="footer-menu-compony">
                    <p>Compony</p>
                    <ul>
                        <li>Home</li>
                        <li>Jobs</li>
                        <li>
                            Press
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-menu-development">
                    <p>Development</p>
                    <ul>
                        <li>İOS</li>
                        <li>Android</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-menu-community">
                    <p>Community</p>
                    <ul>
                        <li>Social</li>
                        <li>Forum</li>
                        <li>
                            Contanct
                        </li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-menu-ınfo">
                    <p>Info</p>
                    <ul>
                        <li>Terms of Service</li>
                        <li>Privacy Policy</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>