<div class="gettouch">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gettouch-text">
                    <h1>Get In Touch</h1>
                    <p>Subscribe to our newsletter and get notification for upcoming cool sutff.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="gettouch-form">
                <div class="col-lg-12">
                    <input type="button" value="COUNT ME IN">
                </div>
            </div>
        </div>
    </div>
</div>