<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="info-story">
                    <h1>Stable And Ready</h1>
                    <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor ac-</br>cumsan tincidunt.
                        Vestibulum ac diam sit amet quam vehicula</br> elementum sed sit amet dui. Curabitur aliquet
                        quam id dui posu-</br>ere blandit. Curabitur aliquet quam id dui posuere blandit. Ve-</br>stibulum
                        ac diam sit amet quam.</p>
                    <button>Dowloand Free</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="info-list">
                    <ul>
                        <li>
                            <div class="info-list-img"><img src="assets/img/love-black.png" alt="">
                                <h1>Made Withe Love </h1>
                            </div>

                            <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor </br> accumsan tincidunt.
                                Vestibulum ac diam.</p>
                        </li>
                        <li>
                            <div class="info-list-img"> <img src="assets/img/price.png" alt="">
                                <h1>Fre of Use</h1>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor </br> accumsan tincidunt.
                                Vestibulum ac diam.</p>
                        </li>
                        <li>
                            <div class="info-list-img"> <img src="assets/img/bag.png" alt="">
                                <h1>Fully Support Avaliable</h1>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor </br> accumsan tincidunt.
                                Vestibulum ac diam.</p>
                        </li>
                        <li>
                            <div class="info-list-img"> <img src="assets/img/pencile.png" alt="">
                                <h1>Flat and Modern Ui & Ux</h1>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor </br> accumsan tincidunt.
                                Vestibulum ac diam.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
$('.info-list li').bind(' hover', function () {
    $("li").css("background-color", "#47c3fa");
    $("li>p").css("display", "block");

});


// $(".info-list li").hover(
//     function () {
        
//     },function () {
//         $("li").css("background-color", "");
//     }
// );

</script> -->