<div class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-sm-12">
                <div class="marketing-img">
                    <img src="assets/img/branding-phone.png" alt="">
                </div>

            </div>
            <div class="col-lg-7  col-sm-12">
                <div class="marketing-items">
                    <div class="col-md-6">
                        <div class="marketing-free marketing-item-imj ">
                            <img src="assets/img/market-basket.png"  class="marketing-item-img" alt="">
                            <p class="marketing-item-title">First 7 Days Free</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-babel marketing-item-imj">
                            <img src="assets/img/babel.png" alt="">
                            <p class="marketing-item-title">FullSupport</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-rulo marketing-item-imj">
                            <img src="assets/img/rulo.png" alt="">
                            <p class="marketing-item-title">Modern Flat Desing</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-bluephone marketing-item-imj">
                            <img src="assets/img/blue-phone.png" alt="">
                            <p class="marketing-item-title">User Friendly</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>