<div class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 offset-md-1 col-sm-12">
                <div class="marketing-img">
                    <img src="assets/img/branding-phone.png" alt="">
                </div>

            </div>
            <div class="col-lg-7 offset-md-1 col-sm-12">
                <div class="marketing-items">
                    <div class="col-md-6">
                        <div class="marketing-free">
                            <img src="assets/img/market-basket.png" alt="">
                            <p>First 7 Days Free</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-babel">
                            <img src="assets/img/babel.png" alt="">
                            <p>First 7 Days Free</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-rulo">
                            <img src="assets/img/rulo.png" alt="">
                            <p>First 7 Days Free</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="marketing-bluephone">
                            <img src="assets/img/blue-phone.png" alt="">
                            <p>First 7 Days Free</p>
                            <p>Caras ultricies ligula sed magna </br>dictum porta. Nulla portt,tprs</br>lum ac diamdo</p>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>