<!-- <div class="header">
    <div class="header_logo">
        <a href="#" class="">
            <img src="assets/img/logo.svg" class="header_logo--img" alt="">
        </a>
    </div>
    <!-- <span class="header_hamburger">
        <img src="assets/img/hamburger-icon.svg" class="header_logo--img" alt="">
    </span> -->
    <div class="header_menu">
        <ul class="header_menu_items">
            <li class="header_menu_item"><a href="">KURUMSAL</a></li>
            <li class="header_menu_item"><a href="">NASIL ÇALIŞIR</a></li>
            <li class="header_menu_item"><a href="">BÖLGELER</a></li>
            <li class="header_menu_item"><a href="">MERAK ETTİKLERİNİZ</a></li>
            <li class="header_menu_item"><a href=""></a></li>
        </ul>
    </div>
    <span class="header_hamburger">
        <img src="assets/img/hamburger-icon.svg" class="header_logo--img" alt="">
    </span>

</div>
<script>
    $(document).ready(function () {
        $('.header_hamburger img').on('click', function () {
            if ($(".header_menu").hasClass('active-display')) {


                $(".header_menu").removeClass('active-display');
            } else {


                $(".header_menu").addClass('active-display');
            }
        });
    });
</script> -->
