<div class="social">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3">
                <div class="social-text">
                    <p> © 2018 - Appo,All Right Reserved</p>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="social-icon">
                    <ul>
                        <li>

                        </li>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-dribbble"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>