<div class="store">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="store-img">
                    <img src="assets/img/branding-phone.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="store-now">
                    <h1>Now Available</h1>
                    <p>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincid-</br>unt.
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</br> quam vehicula
                        elementum sed sit ametsuada.</p>
                    <div class="store-now-shop">
                        <img src="assets/img/ios-market.png" alt="">
                        <img src="assets/img/google-market.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="store-now-button">
    <p>
        GET THE APP TODAY
    </p>
</div>