/* 
    
    Tanimlamalar
    
    1) Renkler
    2) Yazi tipleri ve boyutlari
    
*/

// 1) Renkler
$main-bgcolor:#14e9ed;
$main-color:#ffffff;

// ---menu text color
$menu_text--color:#8d969e;
$menu_text--hovercolor:#154a6f;

//--------------------------------

$second-color:#2dbfa2; 
$white-color:#ffffff;
$black-color:#000000;
$gray-color : #fbfcff;
$def-text-color:#353535;
$dark-color : #1d1f25;
// 2) Yazi tipleri ve boyutlari
 $main-font: 'Work Sans', sans-serif;
 $second-font :  'Proxima Nova', sans-serif;

$menu-font-color:#ffffff;


