.footer {
    background-color: #212b36;
    padding-bottom: 40px;
    padding-top: 40px;

    &-logo {}

    &-list {
        display: flex;
        flex-direction: row;

        ul {
            li {
                display: inline;
                margin-left: 20px;
                margin-right: 20px;
            }

            li:first-child {
                margin-left: 0px;
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }

    &-social {
        ul {
            display: flex;
            flex-direction: row;

            li {
                display: inline;
                margin-left: 10px;
                margin-right: 10px;
            }

            li:first-child {
                margin-left: 0px;
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        &-social {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }

        &-list {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &-logo {
            justify-content: center;
            display: flex;
            margin-bottom: 25px;
        }

        &-social {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom: 5px;
                }
            }
        }

        &-list {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            ul {
                display: flex;
                flex-direction: column;
                text-align: center;

                li {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}