/* 

    Header
    Header kisminda bulunan elementlerine kazandirilmis stiller burada yer alir 

*/

.header{
    min-height: 1000px;
    background-image: url(/assets/img/branding-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.branding-phone {
    text-align: center;
    margin-top: 153px;

    &-title {
        font-family: $main-font;
        font-size: 45px;
        color: $menu-font-color;
        font-weight: 900;

    }

    &-dialog {
        font-family: $main-font;
        font-size: 15px;
        color: $menu-font-color;
        font-weight: normal;
        margin-top: 28px;
        margin-bottom: 45px;
    }

    &-button {
        button {
            padding: 12px 32px  18px 34px;
            font-family: $main-font;
            font-size: 14px;
            color: $menu-font-color;
            font-weight: 600;
        }
    }
    &-img{
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }
}