.marketing {

    background-image: url(/assets/img/wawe-bg.png);

    background-repeat: no-repeat;
    background-size: cover;

    top: -243px;
    position: relative;

    &-img {
        margin-top: 444px;
    }

    &-items {
        margin-top: 373px;

        display: flex;
        flex-wrap: wrap
    }

    &-free {}

    &-babel {
        margin-top: 97px;
    }

    &-rulo {}

    &-bluphone {}

    &-title {}

    &-description {}
}