.marketing {

    background-image: url(../img/wawe-bg.png);

    background-repeat: no-repeat;
    background-size: cover;

    top: -243px;
    position: relative;

    &-img {
        margin-top: 444px;
    }

    &-items {
        margin-top: 278px;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 210px;


    }

    &-free {}

    &-babel {
        margin-top: 97px;
    }

    &-rulo {}

    &-bluephone {
        margin-top: 97px;
    }

    &-item-title {
        font-family: $main-font;
        font-size: 14px;
        color: #233148;
        font-weight: 600;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    &-item-description {
        font-family: $main-font;
        font-size: 14px;
        color: #6a6d89;
        font-weight: normal;
    }

    &-item-img {}

    &-item-imj {
        padding: 59px 27px 41px 31px;
        text-align: center;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
    }
}


@media screen and (max-width: 768px) {
    .marketing {
        &-img {
            display: flex;
            justify-content: center;
        }

        &-items {
            margin-top: 100px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}